/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~mapbox-gl/dist/mapbox-gl.css";
body {
  margin: 0px;
}
.cdk-overlay-container {
  background: rgba(10,10,10,.50) !important;
  pointer-events: all !important;
}